.hero {
  margin-top: 10rem;

  h1 {
    margin-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
    font-family: var(--overpass-font);
    color: var(--dark-blue-heading);
  }
}
.hero-container,
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left,
.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  h2 {
    font-size: 2rem;
    font-family: var(--overpass-font);
    color: var(--dark-blue-heading);
  }

  p {
    font-size: 1.1rem;
    color: var(--grayish-blue);
    font-family: var(--overpass-font);
    letter-spacing: 1px;
    line-height: 2rem;
  }
}

.hero-text,
.info-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-right {
  position: absolute;
  right: -20rem;

  img {
    width: 120vh;
  }
}

.infrastructure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  height: 450px;
  color: var(--white-text);

  .infrastructure-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;

    h2 {
      font-family: var(--overpass-font);
      font-size: 2.6rem;
      color: var(--white-text);
    }
    p {
      font-family: var(--overpass-font);
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }
}

.infrastructure-img img {
  width: 50rem;
}

.infrastructure-background {
  background-color: var(--body-gradient-dark-blue);
  background-image: url(../../assets/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -19rem -50rem;
  background-size: 90rem;
  margin-top: 20rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.info-left {
  margin-left: -40rem;

  img {
    width: 130vh;
  }
}

.item-info {
  margin-top: 10rem;
}
